node_modules/
part4/bloglist/.env
part4/bloglist/.prettierrc
part4/bloglist/temp.js
part5/bloglist-frontend/.prettierrc
part6/part6lab/
part6/redux-notes/
part6/query-notes/
part6/redux-anecdotes/src/tests
part7/lab/
part8/lab
part8/library-backend/.env
part9/lab
part9/patientor-backend/build